@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: larger;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dateFilter,
.typeFilter {
  background-color: #ffffff; /* Dark grey background */
  color: #333; /* White text color */
  width: 40vw;
  height: 2em; /* Reduced height to make it compact */
  padding: 0.5em;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.logo {
  font-size: 55px;
  font-weight: bolder;
  margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.entryField {
  background-color: #e6e6e6;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

.input-label {
  color: white;
  width: 40vw;
  height: 9em;
  padding: 0.5em;
  border: none;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.text-input {
  background-color: #333;
  color: white;
  width: 40vw;
  height: 9em;
  padding: 0.5em;
  border: dotted white;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.registrationForm input {
  background-color: #6c6c6c;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
